.container {
    background-color: white;
    padding-bottom: 2.125rem;

    &__img {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    @include breakpoints-up(tablet) {
        border-radius: 2rem;

        max-width: 46.25rem;
        
        margin: 2.5rem;
        padding: 2.5rem;

        &__img {
            border-radius: 1rem;
        }
    } 
}

.container__item {
    padding-left: 2.25rem;
    padding-right: 2.25rem;

    @include breakpoints-up(tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

.header {

    &__title {
        font-size: $small-title;
        margin-bottom: 1.875rem;
    }

    &__description {
        margin-bottom: 2.125rem;
    }
}

.card {

    padding: 1.75rem;
    background-color: $rose-50;
    border-radius: 1.5rem;

    &__title {
        font-size: $title-2;
        color: $rose-800;
        margin-bottom: 1.375rem;
    }

    &__list {
        padding: 0 1.5rem;
    }

    &__item {
        color: $stone-600;
        padding-left: 1.75rem;

        &::marker {
            color: $rose-800;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.container-i {

    &__title {
        font-size: $large-title;
        color: $brown-800;
    }

    &__list {
        padding: 0 1.5rem;
    }

    &__item {
        color: $stone-600;
        padding-left: 1.75rem;

        &::marker {
            font-weight: 700;
            color: $brown-800;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.table {

    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    &__row {

        padding: auto 1rem;

        td:first-child {
            padding-left: 2.125rem;
        }

        td:not(:first-child) {
            padding-left: -2.125rem;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $stone-150;
        }
    }

    &__data1 {
        color: $stone-600;
    }

    &__data2 {
        color: $brown-800;
        font-weight: 600;
    }
}

